.row {
    display: flex;
}

.column {
    align-items: center;
}     

.left {
    width: 25%;
}

.middle {
    width: 25%;
}

.right {
    width: 45%;
} 

input[type=number], p,#tab td,#tab th {
font-size:22px;
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    white-space: pre-wrap;
}

#biggerCheckBox {
    transform : scale(1.3); 
}

#tab {
border: 2px solid;
padding: 20px; 
width: 300px;
resize: both;
overflow: auto;
}

#tab,#tab td,#tab th {
border:1px solid #DDD;
border-collapse:collapse;
padding:2px 3px;
text-align:center;
margin:0 auto;
}

#tab th { font-weight:700}

table.scrolldown { 
    width: 100%; 
      
    /* border-collapse: collapse; */ 
    border-spacing: 0; 
    border: 2px solid black; 
} 
  
/* To display the block as level element */ 
table.scrolldown tbody, table.scrolldown thead { 
    display: block; 
}  
  
thead tr th { 
    height: 40px;  
    line-height: 40px; 
} 
  
table.scrolldown tbody { 
      
    /* Set the height of table body */ 
    height: 50px;  
      
    /* Set vertical scroll */ 
    overflow-y: auto; 
      
    /* Hide the horizontal scroll */ 
    overflow-x: hidden;  
} 
  
tbody {  
    border-top: 2px solid black; 
} 
  
tbody td, thead th { 
    width : 100px; 
    border-right: 2px solid black; 
} 
td { 
    text-align:center; 
} 


 